*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Pretendard';
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'JoyfulStory';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
.section-pd {
  padding: 62px 0;
}
.sub-font{
    font-family: 'JoyfulStory';
    color:  #5B92D2;
    font-size: 52px;
    letter-spacing: 3px;
}
.main-title{
    font-family: 'Pretendard';
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0px;
}
.sub-title{
    font-family: 'Pretendard';
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
    line-height: 1.5;
}
.third-title{
    font-family: 'Pretendard';
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.2;
}
.main-body{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
}
.sub-body{
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1.2;
}
.third-body{
    font-family: 'Pretendard';
    font-size: 13px;
    font-weight: 300;
    letter-spacing: -1px;
}
.font-color-m{
    color: #161616;
}
.font-color-s{
    color: #2570c5;
}
.font-color-a{
    color: #4b4b4b;
}
.ac-title{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
}
.highlight{
    color: #2570c5;
}